body {
    font-family: 'Arial', sans-serif;
    background-color: #ffecd1;
    text-align: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    font-family: 'Pacifico', cursive; /* Specifiek lettertype voor Bitterbal van de Dag */
    font-size: 3em;
    color: #d35400;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}
